.homepagebar {
width: 100%;
display: flex;
align-items: center;
padding: 0px 16px;
box-sizing:border-box;
position: sticky; top: 0; 
background: white; 
z-index: 100;
border-bottom: 1px solid #856eea;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', serif;
  zoom: 1.4;
}
@media (max-width: 1200px) {
  body {
    zoom: .93;
  }
}

.bar-left {
flex: 1;
display: flex;
justify-content: flex-start;
align-items: baseline;
gap: 10px;
}

.bar-mid {
flex: 1;
display: flex;
justify-content: center;
align-items: baseline;
}

.bar-right {
flex: 1;
display: flex;
justify-content: flex-end;
align-items: baseline;
}

.elements_sidebyside { 
display: flex; 
justify-content: flex-start; 
align-items: center;
gap: 10px;
align-items: baseline;
}
#searchbarid{
width: 300px;
height: 29px;
font-size: 20px;
border-radius: 5px;
font-family: 'Rajdhani', serif;
font-weight: bold;
}

#searchbutton {
padding: 6px 9px;
font: 16px;
border-radius: 5px;
cursor: pointer;
}

.searchbarbut {
display:flex;
align-items: center; 
position: relative;
}

#poke-grid {
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 16px;
padding: 16px;
box-sizing: border-box;
width: 100%;
}
.pokecard {
text-transform: capitalize;
border: 1px solid #856eea;
border-radius: 10px;
text-align: center;
padding: 10px;
cursor: pointer;
font-weight: bold;
}

.pokecard img {
width: 100%;
height: auto;
}

#homebutton {
cursor: pointer;
}

#search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #856eea;
  border-radius: 8px;
  z-index: 200;
  display: none;
  max-height: 267px;
  overflow-y: auto;
  min-height: 50px;
}

#search-dropdown.active {
  display: block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  cursor: pointer;
  text-transform: capitalize;
}

.dropdown-item:hover {
  background: #f0edff;
}

.dropdown-item img {
  width: 40px;
  height: 40px;
}

.dropdown-item-name {
  flex: 1;
  font-weight: bold;
  font-size: 15px;
}
.type-badge {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 67px;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 1px 1px 2px black;
  color: white;
  text-transform: capitalize;
  box-shadow: 0 0 0 2px black, 0 0 0 4px white, 0 0 0 6px black;
  text-align: center;
  width: 75px;
  box-sizing: border-box
}
.type-dropdown{
  display: inline-block;
  padding: 4px 12px;
  border-radius: 67px;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 1px 1px 2px black;
  color: white;
  text-transform: capitalize;
  box-shadow: 0 0 0 2px black, 0 0 0 4px white, 0 0 0 6px black;
  margin-right: 6px;
  text-align: center;
  width: 67px;
  box-sizing: border-box
}
.dropdown-item.highlighted {
  background: #f0edff;
  outline: 2px solid #856eea; 
}

.type-normal   { background-color: #a8a878; }
.type-fire     { background-color: #f08030; }
.type-water    { background-color: #6890f0; }
.type-electric { background-color: #f8d030; }
.type-grass    { background-color: #78c850; }
.type-ice      { background-color: #98d8d8; }
.type-fighting { background-color: #c03028; }
.type-poison   { background-color: #a040a0; }
.type-ground   { background-color: #745709; }
.type-flying   { background-color: #a890f0; }
.type-psychic  { background-color: #f85888; }
.type-bug      { background-color: #a8b820; }
.type-rock     { background-color: #b8a038; }
.type-ghost    { background-color: #705898; }
.type-dragon   { background-color: #7038f8; }
.type-dark     { background-color: #31251d; }
.type-steel    { background-color: #b8b8d0; }
.type-fairy    { background-color: #ee99ac; }

